.el-scrollbar__wrap {
	overflow-x: hidden !important;
}
.el-select-dropdown__list{
	padding:6px 0 20px !important;
}
#app{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.leftWindow{
	width: 300px;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	border-right:1px solid #DDD;
	background-color: #F5F5F5;
}
.list_header{
	width: 100%;
	height: 50px;
	background-color: #F1F1F1;
	box-sizing: border-box;
	padding: 0 10px;
	line-height: 50px;
	font-weight: bold;
}
.select_blcok{
	width: 90%;
	margin: 10px auto;
}
.select_blcok .el-select{
	width: 100%;
}
.conter_body{
	position: absolute;
	top:110px;
	bottom: 0;
	width: 100%;
}
.three_cneter{
	font-size: 15px;
	cursor: pointer;
	transition: height 0.3s;
}
.three_cneter_header{
	height: 35px;
	line-height: 35px;
}
.three_cneter_header>i:nth-of-type(1){
	margin-left: 5px; 
	margin-right: 15px; 
}
.three_cneter_header>i:nth-of-type(2){
	margin-right: 5px; 
}
.three_cneter_body{
	margin-left: 25px;
	transition: height 0.3s;
}
.three_cneter_item{
	width: 95%;
	height: 35px;
	line-height: 35px;
	position: relative;
	box-sizing: border-box;
	padding-left: 10px;
}
.three_cneter_item>i{
	margin-right: 10px;
}
.three_cneter_item:hover,.three_cneter_item.active{
	color:#FFF;
	border-radius: 3px;
	background-color: #1B7BF6;
}
.three_setItem{
	float: right;
	margin-right: 15px;
	display: none;
}
.three_setItem i{
	margin: 0 3px;
}
.three_cneter_item:hover .three_setItem,.three_cneter_item.active .three_setItem{
	display: block;
}

.Printing{
	position: absolute;
	top:30px;
	right: 30px;
}