.titleImg {
    background: url(../img/titleimg.jpg) center bottom / 1920px no-repeat;
    width: 100%;
    height: 440px;
}

.title-txt {
    width: 1200px;
    margin: 0 auto;
    padding-top: 155px;
}

.title-txt > h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
}

.desc {
    width: 58%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    height: 70px;
    overflow: hidden;
}

.title-btn {
    background: #00c1de;
    color: #ffffff;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.ace-partner-program-detail-banner {
    background-size: 1920px auto;
    min-height: 440px
}

.ace-partner-program-detail-banner .layout {
    width: 1200px;
    margin: 0 auto;
    padding-top: 155px
}

.ace-partner-program-detail-banner .layout .title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 0
}

.ace-partner-program-detail-banner .layout .desc {
    width: 58%;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0;
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    height: 44px;
    overflow: hidden
}

.ace-partner-program-detail-banner .layout .button {
    background: #00c1de;
    border: 0;
    color: #fff
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section {
    padding: 60px 0
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .w1200 {
    width: 1000px;
    margin: 0 auto
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .hd {
    margin-bottom: 40px;
    text-align: center
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .hd h2 {
    padding-bottom: 30px;
    font-size: 24px;
    color: #373d41;
    font-weight: 700
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .hd p {
    margin-top: 15px;
    font-size: 14px;
    color: #9a9ea0
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .bd {
    position: relative;
    *zoom: 1
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .bd:after, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .bd:before {
    content: "";
    display: table
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .section .bd:after {
    clear: both
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap {
    padding-top: 100px
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .tabs-wrap {
    margin: 0 10px
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .tabs-wrap .tab-nav {
    width: 205px;
    margin: 0 auto 50px;
    *zoom: 1
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .tabs-wrap .tab-nav:after, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .tabs-wrap .tab-nav:before {
    content: "";
    display: table
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .tabs-wrap .tab-nav:after {
    clear: both
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .tabs-wrap .tab-nav a {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 36px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #373d41;
    background: #fff;
    border: 1px solid #d7d8d9
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box {
    background: #fff;
    border: 1px solid #d7d8d9;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15)
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box.hidden {
    display: none
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table {
    width: 100%
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-3-col td, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-3-col th {
    width: 33.33333333%
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-4-col td, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-4-col th {
    width: 25%
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-5-col td, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-5-col th {
    width: 20%
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-6-col td, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-6-col th {
    width: 16.66666667%
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-7-col .col-1, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-7-col td, .wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-7-col th {
    width: 9%
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-7-col .name {
    font-size: 16px;
    color: #444;
    background: #fff;
    border: 1px solid #d7d7d7
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-7-col td {
    color: #878787
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table.table-7-col .null {
    width: 100%;
    font-size: 16px;
    color: #717171;
    text-align: center;
    padding-left: 2.5%
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table tr:first-child th > div {
    height: 88px;
    line-height: 115px
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table tr:nth-child(odd) {
    background: #fff
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table tr:nth-child(2n) {
    background: #f5f5f5
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table th {
    position: relative;
    font-size: 16px;
    color: #262626;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table th > div {
    width: 100%;
    box-sizing: border-box;
    position: relative
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table th .icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table td {
    text-align: center;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #f8f8f9;
    box-sizing: border-box
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table td > div {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    position: relative
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table td > div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box table td.name {
    text-align: left
}

.wb-zc-ymmod-partner-inviolable-rights .module-wrap .rights-require-wrap .panel-box .more-info-btn {
    display: none;
    padding: 20px 0;
    font-size: 14px;
    color: #00c1de;
    text-align: center;
    cursor: pointer
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section {
    padding: 60px 0
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .w1200 {
    width: 1000px;
    margin: 0 auto
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .hd {
    margin-bottom: 40px;
    text-align: center
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .hd h2 {
    padding-bottom: 30px;
    font-size: 24px;
    color: #373d41;
    font-weight: 700
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .hd p {
    margin-top: 15px;
    font-size: 14px;
    color: #9a9ea0
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .bd {
    position: relative;
    *zoom: 1
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .bd:after, .wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .bd:before {
    content: "";
    display: table
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .section .bd:after {
    clear: both
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap {
    padding-top: 0
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .tabs-wrap {
    margin: 0 10px
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .tabs-wrap .tab-nav {
    width: 205px;
    margin: 0 auto 50px;
    *zoom: 1
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .tabs-wrap .tab-nav:after, .wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .tabs-wrap .tab-nav:before {
    content: "";
    display: table
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .tabs-wrap .tab-nav:after {
    clear: both
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .tabs-wrap .tab-nav a {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 36px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #373d41;
    background: #fff;
    border: 1px solid #d7d8d9
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box {
    background: #fff;
    border: 1px solid #d7d8d9;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15)
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box.hidden {
    display: none
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table {
    width: 100%
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-3-col td, .wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-3-col th {
    width: 33.33333333%
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-4-col td, .wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-4-col th {
    width: 25%
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-5-col td, .wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-5-col th {
    width: 20%
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-6-col td, .wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-6-col th {
    width: 16.66666667%
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-7-col td, .wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-7-col th {
    width: 12%
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-7-col .col-1 {
    width: 20%
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-7-col .name {
    color: #444;
    font-size: 16px
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-7-col .name > div {
    text-align: left;
    padding-left: 43px;
    display: table-cell;
    vertical-align: middle
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-7-col td {
    color: #878787
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table.table-7-col .null {
    width: 7%;
    display: none
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table th {
    position: relative;
    font-size: 16px;
    color: #262626;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #f8f8f9;
    box-sizing: border-box
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table th > div {
    width: 100%;
    height: 100px;
    line-height: 115px;
    box-sizing: border-box;
    position: relative
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table th .icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table td {
    text-align: center;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #f8f8f9;
    box-sizing: border-box;
    padding: 25px 10px
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table td > div {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    position: relative
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table td > div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box table td.name {
    text-align: left
}

.wb-zc-ymmod-partner-rights-require-pc-new .module-wrap .rights-require-wrap .panel-box .more-info-btn {
    display: none;
    padding: 20px 0;
    font-size: 14px;
    color: #00c1de;
    text-align: center;
    cursor: pointer
}
