<!DOCTYPE html>
<html lang="cn">

<!-- Meta -->
<head>
    <title>iHouse3D开发平台</title>
    <meta content="3D定制开发,数字孪生,BIM开发,小程序开发,网站设计,网站制作,网站开发,开放平台,3D云设计,云设计软件,家装云设计,Web3D,橱柜设计软件,吊顶设计,瓷砖设计,3d软件开发"
          name="keywords"/>
    <meta content="杭州浩思云科技拥有20年以上的3d及互联网软件开发经验，深耕于3D云设计系统在行业中的应用，具备丰富功能。" name="description"/>
    <link rel="shortcun icon" href="assets/img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- SITE TITLE -->
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <!-- Google Font -->
    <!--    <link href="assets/fonts/font.css" rel="stylesheet">-->
    <!-- fonts CSS -->
    <link rel="stylesheet" href="assets/css/awesome.css">
    <link rel="stylesheet" href="assets/fonts/themify-icons.css">
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!--slicknav Css-->
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <!-- MAGNIFIC CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- SLICK CSS -->
    <link rel="stylesheet" href="assets/css/slick.css"/>
    <link rel="stylesheet" href="assets/css/slick-theme.css"/>
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<style>
    .fangan {
        float: left;
        width: 380px;
        height: 250px;

        background: #EFEFEF;
        border-radius: 5px;
        margin: 10px;
        overflow: hidden;
    }

    .el-carousel__container {
        position: relative;
        height: 800px
    }

    .el-carousel__button {
        display: block;
        opacity: .48;
        width: 55px;
        height: 4px;
        background-color: #FE0;
        margin-top: -33px;
    }
</style>
<body onLoad="scrollTo(0,10)">


<div id="navigation" class="fixed-top navbar-light bg-faded site-navigation">
</div>


<!-- START HOME -->
<div id="app">
    <div style="width: 100%;height:800px">
        <el-carousel arrow="never" style="height: 100%">
            <el-carousel-item>
                <section id="home" class="home_bg"
                         style="background-image: url(assets/img/bg/home-bg.png);  background-size:cover; background-position: center center;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-sm-7 col-xs-12">
                                <div class="hero-text" style="margin-top:30px">
                                    <h1 style="padding-top: 140px;">在线3D家装设计系统<br>开放源代码</h1>

                                    <p style="padding: 16px;font-size: 17px;line-height: 30px;">*.
                                        开源前端源代码、功能齐全、支持二次开发、<font
                                                color="#fff010">商用免费</font>;<br>*. iHouse3D平台提供后台管理和云渲染服务，需<font
                                                color="#fff010">独立部署</font>请联系我们；<br>*.
                                        另<font color="#fff010">提供付费版</font>, 系统更强大、功能更丰富；<br>*. 还可为您<font
                                                color="#fff010">定制开发功能</font>;
                                        <br>*. 可购买后台或云渲染<font color="#fff010">源代码</font>;</p>
                                    <div class="home_btn">
                                        <a class="learn_btn" href="download.html">免费下载</a>
                                        <a class="video-play"
                                           href="http://web.ihouse3d.com.cn/h5/video/Video/完整操作视频.mp4">功能视频</a>
                                    </div>
                                </div>
                            </div><!--- END COL -->
                            <div class="col-lg-6 col-sm-5 col-xs-12 wow fadeInUp" data-wow-duration="1s"
                                 data-wow-delay="0.6s"
                                 data-wow-offset="0">
                                <div class="hero-text-img">
                                    <img src="assets/img/UI01.png" class="img-fluid" alt=""/>
                                    <img src="assets/img/UI02.png" style="margin-top: -300px;margin-left:400px;"
                                         class="img-fluid phonePic" alt=""/>
                                </div>
                            </div><!--- END COL -->
                        </div><!--- END ROW -->
                    </div><!--- END CONTAINER -->
                </section>
            </el-carousel-item>
            <el-carousel-item>
                <!--<div style="background-image: url(assets/img/bg/bg.jpg);"></div>-->
                <section id="_home" class="home_bg"
                         style="background-image: url(assets/img/bg/bg.jpg);  background-size:cover; background-position: center center;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-sm-7 col-xs-12">
                                <div class="hero-text" style="margin-top:30px">
                                    <h1 style="padding-top: 165px;">承接各类3D软件开发<br><font color="#fff010">选我们就对了</font>
                                    </h1>
                                    <p style="padding: 16px;font-size: 17px;line-height: 30px;">*.
                                        各类设计平台、BIM轻量化展示、全景展示、前后端一体化、数字孪生产品开发；
                                        <br>*. 各类装饰装修、家具建材、展览展示、楼盘展示等解决方案;</p>
                                    <div class="home_btn">
                                        <a class="lx video-play1" href="" style="margin-left:150px;">联系我们</a>
                                    </div>
                                </div>
                            </div><!--- END COL -->
                        </div><!--- END ROW -->
                    </div><!--- END CONTAINER -->
                </section>
            </el-carousel-item>
        </el-carousel>

    </div>
    <!-- END  HOME -->

    <!-- START COMPANY PARTNER LOGO  -->
    <!--<section class="partner-logo section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="partner">
                        <a href="#"><img src="assets/img/partner/1.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/2.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/3.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/4.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/5.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/6.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/1.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/2.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/3.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/4.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/5.png" alt="image"></a>
                        <a href="#"><img src="assets/img/partner/6.png" alt="image"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- END COMPANY PARTNER LOGO -->

    <!-- START ABOUT US ONE -->
    <section id="features" class="about-us section-padding"
             style="background-image: url(assets/img/bg/bg-elements_4.png);">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="about-title">
                        <br>
                        iHouse3D是Threejs开发的3D家装设计系统原型，可用于轻量化BIM开发、数字孪生系统开发、在线效果图设计系统开发、3D产品展示系统开发、3D工业化系统开发等等。可广泛应用于装修、建筑、消防、弱电、安防、制造、施工等领域。
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                     data-wow-offset="0">
                    <div class="about_feature">
                        <div class="icon icon_bg"><img src="assets/img/7.jpg"></img></div>
                        <h4>功能丰富多样</h4>
                        <p>画户型、烟道、柱子、梁、尺寸标注、测量；设置门窗、家具, 墙地面铺贴, 2D/3D漫游切换；设置灯光、渲染效果、渲染全景图、出预算报价、导出CAD、导出图纸等等。</p>
                    </div>
                </div><!-- END COL -->
                <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                     data-wow-offset="0">
                    <div class="about_feature about_feature2">
                        <div class="icon icon_bg2"><img src="assets/img/003.jpg"></img></div>
                        <h4>提供云渲染</h4>
                        <p>渲染效果图</p>
                        <p>渲染全景</p>
                        <p>烘焙光照</p>
                        <p>实时返回渲染画面</p>
                        <p>生成全景应用链接</p>
                        <p>渲染动画</p>
                        <p>渲染360度模型</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                     data-wow-offset="0">
                    <div class="about_feature about_feature3">
                        <div class="icon icon_bg3"><img src="assets/img/004.jpg"></img></div>
                        <h4>海量资源库</h4>
                        <p>各类模型下载</p>
                        <p>各类贴图下载</p>
                        <p>各类场景下载</p>
                    </div>
                </div><!-- END COL -->
                <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"
                     data-wow-offset="0">
                    <div class="about_feature about_feature4">
                        <div class="icon icon_bg4"><img src="assets/img/005.jpg"></img></div>
                        <h4>提供后台管理</h4>
                        <p>创建使用账号, 管理使用账号, 管理自己的模型库/贴图库/场景方案, 上传自己的模型、贴图。</p>
                    </div>
                </div><!-- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </section>
    <!-- END ABOUT US ONE -->

    <!-- START FEATURED ONE -->
    <section class="feature-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                     data-wow-offset="0">
                    <div class="single_feature_one">
                        <h2>iHouse3D家装设计系统 <br> <strong>技术架构</strong></h2>
                        <p style="font-size: 17px;line-height: 30px;">
                            系统由数据中心、云设计前端、云渲染端、管理后台四部分组成。<br><strong>云设计端:</strong> 采用javasricpt、threejs开发,
                            vue框架;<br><strong>数据中心:</strong> 采用mysql数据库、C#写Webservice接口进行前后端通信,
                            主要部署在Win系统服务器上，也可部署在CentOS系统上；
                            <br><strong>云渲染端:</strong> 采用C#开发,自动与数据中心通信、自动更新数据、自动渲染; <br><strong>后台管理: </strong>采用javasricpt开发,
                            vue框架;</p>
                        <h2><strong>系统环境</strong></h2>
                        <p style="font-size: 17px;line-height: 30px;"><strong>数据中心服务器:</strong> 操作系统: windows server
                            2016；数据库: mysql5.6.10<br><strong>云渲染服务器:</strong> 操作系统windows server 2008 R2 Enterprise 64位
                        </p>
                        <a class="single_feature_btn_light"
                           href="charts/client.html" target="_blank">云设计前端功能</a>
                        <a class="single_feature_btn_light"
                           href="charts/Render.html" target="_blank">云渲染功能</a>
                        <a class="single_feature_btn_light"
                           href="charts/houtai.html" target="_blank">管理后台功能</a>
                        <a class="single_feature_btn_light"
                           href="charts/charts.html" target="_blank">系统架构</a>
                    </div>
                </div><!-- END COL-->
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s"
                     data-wow-offset="0">
                    <div class="single_feature_img" style="width:100%;height:500px;background-color:#ffffff;"
                         id="container_1">
                        <!--<img class="img-fluid" src="assets/img/areas.jpg" alt="">-->
                        <!--<img class="img-fluid" src="assets/img/overview.png" alt="">-->
                    </div>
                </div><!-- END COL-->
            </div><!-- END ROW-->
        </div><!-- END CONTAINER-->
    </section>
    <!-- END FEATURED ONE -->

    <!--
    <section class="feature-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_feature_two_img">
                        <img class="img-fluid" src="assets/img/001.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_feature_two">
                        <h3>Additional effects <br> <strong>unique to app</strong></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as opposed to using Content here.</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a class="single_feature_btn_light" href="#download">详细功能列表</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

    <!--
    <section class="counter_feature section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h1>We complete 2000+ Projects yearly <br /> successfully and  counting</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor nibh.</p>
            </div>
            <div class="row counter_feature_mb">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="counter_img">
                        <img src="assets/img/feature.png" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="row text-center">
                        <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                            <div class="single_counter single_counter_mt">
                                <span class="ti-user"></span>
                                <h2 class="counter-num">32652</h2>
                                <h3>Download App</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                            <div class="single_counter">
                                <span class="ti-star"></span>
                                <h2 class="counter-num">31821</h2>
                                <h3>Active Users</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                            <div class="single_counter">
                                <span class="ti-pencil-alt"></span>
                                <h2 class="counter-num">25660</h2>
                                <h3>Awesome Review</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                            <div class="single_counter single_counter_mtnone">
                                <span class="ti-support"></span>
                                <h2 class="counter-num">11859</h2>
                                <h3>Support Cases</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
    <!--<div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-12 col-xs-12 text-center wow fadeIn">
            <h2 class="newsletter_title">Subscribe to our newsletter. <br /> We won’t spam you</h2>
            <div class="newsletter-form">
                <form action="#" class="subscribe">
                    <input type="text" class="subscribe__input" placeholder="Enter your Email Address">
                    <button type="button" class="subscribe__btn">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    </section>
    -->

    <section id="_pricing" class="our_pricing section-padding"
             style="background-image: url(assets/img/bg/promo_shape_1.png);  background-size:cover; background-position: center center;">
        <div class="container">
            <div class="section-title text-center">
                <h2>&nbsp;</h2>
                <h1>iHouse3D云渲染效果图</h1>
                <p>iHouse3D提供渲染效果图功能, 不依赖本地电脑，在云服务器上快速渲染出高质量效果。</p>
            </div>

            <el-carousel arrow="never" style="height: 100%" height="730px">
                <el-carousel-item v-for="item in itemArr" :key="item.id">
                    <div class="row">
                        <img class="img-fluid" :src='item.img' alt="">
                    </div>
                </el-carousel-item>
            </el-carousel>

            <div class="section-title text-center">
                <h2>&nbsp;</h2>
                <h1>iHouse3D云渲染全景图</h1>
                <p>iHouse3D提供渲染效果图功能, 不依赖本地电脑，在云服务器上快速渲染出高质量效果。</p>
            </div>
            <div class="row">
                <iframe src=""
                        frameborder="0" alt="" class="indexQJ"></iframe>
            </div>
            <div class="section-title text-center">
                <h2>&nbsp;</h2>
                <h1>iHouse3D云渲染动画</h1>
                <p>iHouse3D提供渲染效果图功能, 不依赖本地电脑，在云服务器上快速渲染出高质量效果。</p>
            </div>
            <div class="row">
                <video src="" controls class="indexQJ"></video>
            </div>
        </div>
    </section>

    <section id="screenshots" class="screenshot section-padding">
        <!--<div class="container">
            <div class="section-title text-center">
                <h1>各类应用截图</h1>
                <p>使用iHouse3D云设计开发包开发的各类系统截图</p>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="center slider">
                        <div><img src="assets/img/screenshot/1.png" alt="image"/></div>
                        <div><img src="assets/img/screenshot/2.png" alt="image"/></div>
                        <div><img src="assets/img/screenshot/0.jpg" alt="image"/></div>
                        <div><img src="assets/img/screenshot/2.png" alt="image"/></div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="appBox">
            <div><h1 style="font-size: 30px;font-weight:bold;font-family: 微软雅黑;text-align: center;line-height: 150px;">
                iHouse3D各类应用截图</h1>
                <p style="text-align: center;position: relative;top:-50px;color: #666666;">
                    在iHouse3D家装设计系统源代码基础上，定制开发的各类其它系统截图。</p>
            </div>
            <ul style="position: relative;left: -10px;">
                <li class="fangan" v-for="item in itemArr1" :key="item.id"><img :src="item.img" alt="image">
                    <div class="text"><h2></h2></div>
                </li>
            </ul>
        </div>
    </section>


    <!--
    <section id="team" class="screenshot section-padding">
       <div class="container">
           <div class="section-title text-center">
               <h1>Our team</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor nibh.</p>
           </div>
           <div class="row text-center">
               <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                   <div class="single_team">
                       <img class="img-fluid" src="assets/img/team/team-1.jpg" alt="">
                       <h5 class="team-name">Kelly Gilmore</h5>
                       <div class="team-hover">
                           <h5>Kelly Gilmore</h5>
                           <span>Co-Founder</span>
                           <ul class="social">
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                   <div class="single_team">
                       <img class="img-fluid" src="assets/img/team/team-2.jpg" alt="">
                       <h5 class="team-name">Alexandria</h5>
                       <div class="team-hover">
                           <h5>Alexandria</h5>
                           <span>Designer</span>
                           <ul class="social">
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                   <div class="single_team">
                       <img class="img-fluid" src="assets/img/team/team-3.jpg" alt="">
                       <h5 class="team-name">Anastacia</h5>
                       <div class="team-hover">
                           <h5>Anastacia</h5>
                           <span>Co-founder</span>
                           <ul class="social">
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                   <div class="single_team">
                       <img class="img-fluid" src="assets/img/team/team-4.jpg" alt="">
                       <h5 class="team-name">Jacob Simpson</h5>
                       <div class="team-hover">
                           <h5>Jacob Simpson</h5>
                           <span>Designer</span>
                           <ul class="social">
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </section>
    -->

    <!--
    <section class="our_testimonial section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h1>Customer Reviews</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor nibh.</p>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="single_testimonials">
                            <div class="single_testimonials_img">
                                <img src="assets/img/testimonial/1.jpg" alt="" />
                                <h4>Nurjahan Santa</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
                        </div>
                        <div class="single_testimonials">
                            <div class="single_testimonials_img">
                                <img src="assets/img/testimonial/2.jpg" alt="" />
                                <h4>Syed Ekram</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
                        </div>
                        <div class="single_testimonials">
                            <div class="single_testimonials_img">
                                <img src="assets/img/testimonial/3.jpg" alt="" />
                                <h4>Helen Sarkar</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
                        </div>
                        <div class="single_testimonials">
                            <div class="single_testimonials_img">
                                <img src="assets/img/testimonial/4.jpg" alt="" />
                                <h4>Masum Billah</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->


    <section id="pricing" class="our_pricing section-padding"
             style="background-image: url(assets/img/bg/promo_shape_1.png);  background-size:cover; background-position: center center;">
        <div class="container">
            <div class="section-title text-center">
                <h2>&nbsp;</h2>
                <h1>使用iHouse3D源代码开发的优势</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                     data-wow-offset="0">
                    <div class="pricingTable">
                        <span class="icon"><i class="ti-bar-chart"></i></span>
                        <div class="pricingTable-header">
                            <h3 class="title">免费商用</h3>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                        </div>
                        <ul class="pricing-content">
                            <li>用iHouse3D源代码二次开发的系统，商用不受限制</li>
                            <li>二次开发后的系统，用户可申请自己的软件著作权、版权</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                     data-wow-offset="0">
                    <div class="pricingTable">
                        <span class="icon"><i class="ti-money"></i></span>
                        <div class="pricingTable-header">
                            <h3 class="title">缩短开发周期</h3>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                        </div>
                        <ul class="pricing-content">
                            <li>在产品原型上二次开发</li>
                            <li>原型功能丰富</li>
                            <li>系统架构完善</li>
                            <li>代码运行稳定</li>
                        </ul>
                    </div>
                </div><!-- END COL  -->
                <div class="col-xs-12 col-sm-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"
                     data-wow-offset="0">
                    <div class="pricingTable">
                        <span class="icon"><i class="ti-rocket"></i></span>
                        <div class="pricingTable-header">
                            <h3 class="title">降低开发成本</h3>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                        </div>
                        <ul class="pricing-content">
                            <li></li>
                            <li>有模型、贴图资源支持</li>
                            <li>有云渲染服务支持</li>
                            <li>有3D场景方案支持</li>
                            <li>有后台管理支持</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"
                     data-wow-offset="0">
                    <div class="pricingTable">
                        <span class="icon"><i class="ti-rocket"></i></span>
                        <div class="pricingTable-header">
                            <h3 class="title">减少开发难度</h3>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                            <i class="fa fa-star" style="color:#ffcc00"></i>
                        </div>
                        <ul class="pricing-content">
                            <li>使用主流threejs技术开发</li>
                            <li>有完善的在线文档</li>
                            <li>有视频教程、FAQ</li>
                            <li>有专业开发团队定期更新</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="section-title text-center">
            <p>除免费版外，还提供多种商用产品以及定制开发服务，降低用户开发时间、成本和开发难度。</p>
            <br>
            <button class="btn btn-lg btn-price-bg lx" style="margin: 0 auto;">详细了解</button>
        </div>
</div>
<br>
</section>

<!-- END PRICING -->
<!--
<section id="pricing" class="our_pricing section-padding"
         style="background-image: url(assets/img/bg/promo_shape_1.png);  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="section-title text-center">
            <h2>&nbsp;</h2>
            <h1>使用iHouse3D源代码开发的优势</h1>
            <p>平台提供三种服务模式, 用户可以根据自己实际情况，获取不同的服务。</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                 data-wow-offset="0">
                <div class="pricingTable">
                    <span class="icon"><i class="ti-bar-chart"></i></span>
                    <div class="pricingTable-header">
                        <h3 class="title">免费版</h3>

                    </div>
                    <ul class="pricing-content">
                        <li>云设计源代码(免费版)</li>
                        <li>提供云渲染</li>
                        <li>提供后台管理</li>
                        <li>提供全景应用</li>
                        <li>在线文档</li>
                        <li>免费商用</li>
                        <li>如需独立部署请联系我们</li>

                    </ul>
                    <button  class="btn btn-lg btn-price-bg">下载链接</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="pricingTable">
                    <span class="icon"><i class="ti-money"></i></span>
                    <div class="pricingTable-header">
                        <h3 class="title">商用版</h3>
                    </div>
                    <ul class="pricing-content">
                        <li>云设计源代码(商业版)</li>
                        <li>云渲染独立部署</li>
                        <li>云渲染源代码</li>
                        <li>后台及数据中心部署</li>
                        <li>后台及数据中心源代码</li>
                        <li>全景应用源代码</li>
                        <li>提供技术支持</li>
                    </ul>
                    <button class="btn btn-lg btn-price-bg lx">联系我们</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"
                 data-wow-offset="0">
                <div class="pricingTable">
                    <span class="icon"><i class="ti-rocket"></i></span>
                    <div class="pricingTable-header">
                        <h3 class="title">定制开发</h3>
                    </div>
                    <ul class="pricing-content">
                        <li>3D云设计基础上的功能定制</li>
                        <li>3D微信小程序</li>
                        <li>3D软件开发</li>
                        <li>BIM系统开发</li>
                        <li>行业网站、平台开发</li>
                        <li>制作场景模型</li>
                        <li>技术指导</li>
                    </ul>
                    <button class="btn btn-lg btn-price-bg lx" >联系我们</button>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<section class="template_faq section-padding">
    <div class="container">
        <div class="section-title text-center" style="margin-top:30px;">
            <h1>常见问题解答</h1>
            <p>常见的一些问题解答。帮助用户在使用开发平台过程中，更好的理解平台服务。</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                 data-wow-offset="0">
                <div class="faq_desc">
                    <h2>1. 免费版可以用来商业开发吗?</h2>
                    <p>可以。在遵守国家法律法规前提下，免费版、商业版都可以用来二次开发,定制商业系统。同时也不得损害iHouse3D版权及利益.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                 data-wow-offset="0">
                <div class="faq_desc">
                    <h2>2. 可以独立部署到自己服务器吗? </h2>
                    <p>可以, 联系平台。我们将部署管理后台、数据中心、云渲染等到指定的服务器。</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="faq_desc">
                    <h2>3. iHouse3D设计系统与Threejs的区别是什么? </h2>
                    <p>ThreeJs是一款免费的网页3D开发引擎, iHouse3D是装修设计系统原型，方便用户快速开发自己的系统。iHouse3D前端也是基于Threejs开发。</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"
                 data-wow-offset="0">
                <div class="faq_desc">
                    <h2>4. 我没有服务器怎么办</h2>
                    <p>iHouse3D平台提供管理后台,自己管理账号、管理模型资源. 提供云渲染服务, 提供良好的开发配套服务。</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"
                 data-wow-offset="0">
                <div class="faq_desc">
                    <h2>5. iHouse3D平台会使用企业在平台上的信息吗?</h2>
                    <p>不会, iHouse3D只提供开发等纯技术服务， 我们鼓励用户独立部署到自己服务器上。</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"
                 data-wow-offset="0">
                <div class="faq_desc">
                    <h2>6. iHouse3D设计系统对模型有什么要求</h2>
                    <p>如max、skectup、maya等常见建模工具都可以建模导出, 模型要求:简面模型、使用的贴图完整。</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
<section id="blog" class="blog-area section-padding">
    <div class="container">
        <div class="section-title text-center">
            <h1>Latest News</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor nibh.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="single_blog">
                    <div class="blog-img">
                        <img src="assets/img/blog/1.jpg" class="img-fluid" alt="image" />
                        <a href="#">Development</a>
                    </div>
                    <h2><a href="#">Successful analysis can become the key to your business success</a></h2>
                    <span>Jan 02, 2020</span>
                    <span><a href="#">3 Comments</a></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="single_blog">
                    <div class="blog-img">
                        <img src="assets/img/blog/2.jpg" class="img-fluid" alt="image" />
                        <a href="#">Design</a>
                    </div>
                    <h2><a href="#">How a good team can positively influence your business</a></h2>
                    <span>Jan 03, 2020</span>
                    <span><a href="#">4 Comments</a></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="single_blog">
                    <div class="blog-img">
                        <img src="assets/img/blog/3.jpg" class="img-fluid" alt="image" />
                        <a href="#">Marketing</a>
                    </div>
                    <h2><a href="#">Good partnerships can help your company achieve better results</a></h2>
                    <span>Jan 05, 2020</span>
                    <span><a href="#">5 Comments</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<!--
<div id="download" class="download_area" style="background-image: url(assets/img/bg/bg-elements_4.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-xs-12">
                <div class="single_download_title">
                    <h1>Download the app now</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
                </div>
                <div class="single_download">
                    <a href="#" class="download-active">
                        <i class="fa fa-apple"></i>
                        <h5>Available on</h5>
                        <h4>App store</h4>
                    </a>
                    <a href="#" class="download-active">
                        <i class="fa fa-play"></i>
                        <h5>Available on</h5>
                        <h4>Google Play</h4>
                    </a>
                    <a href="#" class="download-active">
                        <i class="fa fa-windows"></i>
                        <h5>Get it on</h5>
                        <h4>Microsoft</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="single_download_img">
                    <img src="assets/img/iphone_img.png" class="img-fluid" alt="apple-image" />
                </div>
            </div>
        </div>
    </div>
</div>
-->


<!--
<div class="map_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 no-padding">
                <div class="map">
                    <iframe src="https://ditu.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799338828!2d-74.25988131802218!3d40.697670060319915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z4Kao4Ka_4KaJIOCmh-Cmr-CmvOCmsOCnjeCmlSwg4Kau4Ka-4Kaw4KeN4KaV4Ka_4KaoIOCmr-CngeCmleCnjeCmpOCmsOCmvuCmt-CnjeCmn-CnjeCmsA!5e0!3m2!1sbn!2sbd!4v1573353736547!5m2!1sbn!2sbd"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
-->
</div>

<div class="footer-top section-padding">
</div>

<div class="footer">
</div>

<script type="text/javascript" src="assets/lib/echarts.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/ui.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                itemArr: [],
                itemArr1: []
            }
        }
    })
    loadQJ()

    function loadQJ() {
        $.ajax({
            url: 'http://www.ihouse3d.com.cn/qjConfig.txt',
            type: 'GET',
            cache: false,
            success: function (data) {
                let itemArr = data.split(',')
                let item = itemArr.filter(function (ele) {
                    return ele.includes('~1')
                })
                if (item.length === 0) {
                    $('iframe').attr('src', 'http://www.ihouse3d.com.cn/users/share/chenx/savefile/E97DA54C-DB4A-E0C3-4E57-39A2DF70F84C/dee26be9-ee2d-44c6-9350-5cef6c58ea88/ihouse.html')
                } else {
                    console.log(123)
                    $('iframe').attr('src', item[0].split('~')[0])
                }

            },
            error: function () {
                $('iframe').attr('src', 'http://www.ihouse3d.com.cn/users/share/chenx/savefile/E97DA54C-DB4A-E0C3-4E57-39A2DF70F84C/dee26be9-ee2d-44c6-9350-5cef6c58ea88/ihouse.html')
            }
        })
        $.ajax({
            type: 'GET',
            url: 'http://www.ihouse3d.com.cn/videoConfig.txt',
            cache: false,
            success: function (data) {
                let itemArr = data.split(',')
                let item = itemArr.filter(function (ele) {
                    return ele.includes('~1')
                })
                if (item.length === 0) {
                    $('video').attr('src', 'http://www.ihouse3d.com.cn/indexVideo/d61178c801e0449384ba3a80aa10b13a.mp4')
                } else {
                    $('video').attr('src', 'http://www.ihouse3d.com.cn/indexVideo/' +item[0].split('~')[0])
                }
            }
        })
    }

    loadPic()

    function loadPic() {

        $.ajax({
            type: 'GET',
            cache: false,
            async: false,
            url: 'http://www.ihouse3d.com.cn/picConfig.txt',
            success: function (data) {
                let dataArr = data.split(',')
                console.log()

                let txt = dataArr.filter(function (ele) {
                    return ele.includes('-')
                })
                txt = txt.filter(function (ele) {
                    return ele.split('-')[1] === '1'
                })
                for (let i = 0; i < txt.length; i++) {
                    let img = txt[i].split('-')[0]
                    img = img.replace('_icon', '')
                    let item = {
                        id: i,
                        img: 'http://www.ihouse3d.com.cn/indexPic/' + img
                    }
                    app.itemArr.push(item)
                }
                console.log(app.itemArr)
            },
            error: function () {

            }
        })
        $.ajax({
            type: 'GET',
            cache: false,
            async: false,
            url: 'http://www.ihouse3d.com.cn/appConfig.txt',
            success: function (data) {
                let dataArr = data.split(',')
                console.log()

                let txt = dataArr.filter(function (ele) {
                    return ele.includes('-')
                })
                txt = txt.filter(function (ele) {
                    return ele.split('-')[1] === '1'
                })
                for (let i = 0; i < txt.length; i++) {
                    let img = txt[i].split('-')[0]
                    img = img.replace('_icon', '')
                    let item = {
                        id: i,
                        img: 'http://www.ihouse3d.com.cn/indexApp/' + img
                    }
                    app.itemArr1.push(item)
                }
                console.log(app.itemArr)
            },
            error: function () {

            }
        })
    }

    $(function () {
        let time = setTimeout(function () {
            if ($('#nb_invite_ok').length > 0) {
                $('#nb_invite_ok').click();
            }
        }, 20000)
    })
    var dom_1 = document.getElementById("container_1");
    var myChart_1 = echarts.init(dom_1);

    var plantCap = [{name: 'iHouse3D'}, {name: 'VR全景'}, {name: '云渲染'}, {name: '云设计'}, {name: '云存储'}, {name: '管理后台'},
        {name: 'CAD导入'}, {name: '虚拟漫游'}, {name: 'BIM设计'}];//
    var datalist = [{

        symbolSize: 110,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(67, 255, 60, 0)',
        }, {
            offset: 1,
            color: 'rgb(67, 255, 60)'
        }])

    }, {

        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(67, 186, 255, 0)',
        }, {
            offset: 1,
            color: 'rgb(67, 186, 255)'
        }])
    }, {

        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(27, 96, 255, 0)',
        }, {
            offset: 1,
            color: 'rgb(27, 96, 255)'
        }])

    }, {

        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(48, 191, 191, 0)',
        }, {
            offset: 1,
            color: 'rgb(48, 191, 191)'
        }])
    }, {

        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(0, 166, 166, 0)',
        }, {
            offset: 1,
            color: 'rgb(0, 166, 166)'
        }])
    }, {

        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(84, 136, 255, 0)',
        }, {
            offset: 1,
            color: 'rgb(84, 136, 255)'
        }])
    }, {

        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(255, 255, 30, 0)',
        }, {
            offset: 1,
            color: 'rgb(255, 255, 30)'
        }])
    }, {

        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(84, 136, 255, 0)',
        }, {
            offset: 1,
            color: 'rgb(84, 136, 255)'
        }])
    }, {
        symbolSize: 70,
        color: new echarts.graphic.RadialGradient(0.4, 0.3, 0.6, [{
            offset: 0,
            color: 'rgba(255, 50, 55, 0)',
        }, {
            offset: 1,
            color: 'rgb(255, 50, 55)'
        }])
    }];

    var datas = [];
    for (var i = 0; i < plantCap.length; i++) {
        var item = plantCap[i];
        var itemToStyle = datalist[i];
        datas.push({
            name: item.name,
            value: itemToStyle.offset,
            symbolSize: itemToStyle.symbolSize,
            label: {
                normal: {
                    textStyle: {
                        fontSize: 14
                    }
                }
            },
            itemStyle: {
                normal: {
                    color: itemToStyle.color,
                    opacity: itemToStyle.opacity
                }
            },
        })
    }
    option = {
        grid: {
            show: false,
            top: 10,
            bottom: 10
        },

        xAxis: [{
            gridIndex: 0,
            type: 'value',
            show: false,
            min: 0,
            max: 100,
            nameLocation: 'middle',
            nameGap: 5
        }],

        yAxis: [{
            gridIndex: 0,
            min: 0,
            show: false,
            max: 100,
            nameLocation: 'middle',
            nameGap: 30
        }],
        series: [{

            type: 'graph',
            layout: 'force',
            force: {
                repulsion: 1000,
                edgeLength: 80,
                layoutAnimation: true,
            },
            symbol: 'circle',
            symbolSize: 120,
            edgeSymbol: ['circle', 'arrow'], //线2头标记
            draggable: true, //节点是否可以拖拽
            focusNodeAdjacency: false, //是否在鼠标移到节点上的时候突出显示节点以及节点的边和邻接节点
            label: {
                normal: {
                    show: true,
                    formatter: '{b}',
                    color: '#FFF',
                    lineHeight: 15,
                    textStyle: {
                        fontSize: '30'
                    }
                },
            },
            itemStyle: {
                normal: {
                    borderWidth: '1',
                    borderType: 'solid',
                    borderColor: '#00ffff',
                    shadowColor: 'rgba(0, 0, 0, .6)',
                    shadowBlur: 10,

                }
            },
            lineStyle: {
                normal: {
                    opacity: 1,
                    width: 2,
                    curveness: 0,
                    color: {
                        type: 'linear',
                        x: 0,
                        y: 0,
                        x2: 0,
                        y2: 1,
                        colorStops: [{
                            offset: 0,
                            color: '#e0f55a' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: '#639564' // 100% 处的颜色
                        }],
                        globalCoord: false // 缺省为 false
                    }
                }
            },
            data: datas,
            links: [{source: 0, target: 1},
                {source: 0, target: 2},
                {source: 0, target: 3},
                {source: 0, target: 4},
                {source: 0, target: 5},
                {source: 0, target: 6},
                {source: 0, target: 7},
                {source: 0, target: 8}]
        }]

    }
    myChart_1.setOption(option, true);
</script>


<!-- Latest jQuery -->
<script src="assets/js/jquery.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<!--<script src="assets/js/jquery.cookie.js"></script>-->
<script src="assets/js/bootstrap.js"></script>
<!-- modernizer JS -->
<script src="assets/js/modernizr-2.8.3.min.js"></script>

<!-- owl-carousel min js  -->
<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- jquery nav -->
<script src="assets/js/jquery.nav.js"></script>
<!-- jquery.slicknav -->
<script src="assets/js/jquery.slicknav.js"></script>
<!-- jquery smooth-scroll JS -->
<script src="assets/js/smooth-scroll.js"></script>
<!-- scrolltopcontrol js -->
<script src="assets/js/scrolltopcontrol.js"></script>
<!-- countTo js -->
<script src="assets/js/jquery.inview.min.js"></script>
<!-- Slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="assets/js/wow.min.js"></script>
<!-- MAGNIFICANT JS -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- form-contact js -->
<script src="assets/js/form-contact.js"></script>
<!-- scripts js -->
<script src="assets/js/scripts.js"></script>
<script src="assets/js/v.js"></script>
<script src="assets/js/wx-login.js"></script>
<script src="assets/js/md5.js"></script>
<script src="headfooter.js"></script>
<!--<script src="assets/js/IH_login.js"></script>-->
<script>

</script>
</body>
</html>