#order
{
    width:100%;
    height: 100%;
}

#cellContainer{
    /*position: absolute;*/
    width:100%;
    height:100%;
    /*margin:auto;*/
}
#cellContainer table{
    margin:0 auto;
}

.bottom-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.save,.Delete,.Add,#cancel{
    width: 75px;
    height: 40px;
    background-color: #00adde;
    border-radius:5px;
    color:#FFF;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 6px;
}
.save:hover{
    background-color: #0197c1;
}
#cancel{
    background-color: #0024ca;
}

#cancel:hover{
    background-color: #001da0;
}

